.button_cv {
  border: 1px solid white;
  color: white;
  border-radius: 10px;

  // padding: 5px;
  -webkit-transition: border-radius 1s;
  outline:none;
  }

  .button_cv:hover {
    border-radius: 25px;
    background-color: white;
      opacity: 0.4;
    // padding: 10px;

    -webkit-transition: border-radius 1s;
  }
