<div class="footer">
   <div class="nav_bar">
      <%= link_to "", "#", class: "icons far fa-envelope", id: "email", remote: true %>
      <%= link_to "", "#", class: "icons fas fa-phone", id: "phone", remote: true%>
      <%= link_to "", "https://github.com/JayJay2018", target: "_blank", class: "icons fab fa-github" %>
      <%= link_to "", "https://www.linkedin.com/in/jascha-rafael-franke/", target: "_blank", class: "icons fab fa-linkedin" %>
    </div>
  <div class="footer-copyright">
   Keep it <i class="fa fa-heart"></i> DRY
  </div>
</div>
