/* Main navbar */
.nav_bar > a {
  color: white;
  text-decoration: none;
  outline:none;
  background-color: black;
  width: 40px;
  padding: 10px;
  border-radius: 50%;
  margin-right: 15px;
  opacity: 0.7;
}

.nav_bar > a:hover {
  color: black;
  background-color: white;
  opacity: 1.0;
  transform: scale(1.4);

}
